<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>재개발/재건축 매물관리</title>
  <link href="{% static 'base.css' %}" type = "text/css" rel="stylesheet">
  {% block css %}

  {% endblock css %}
</head>

<body>
  <nav class="nav-area">
    <ul>
      <li><a href="#">내 매물</a></li>
      <li><a href="#">동안구</a>
        <ul>
          <li><a href="#">뉴타운맨션 삼호</a>
            <ul>
              <li><a href="#">뉴타운맨션 삼호 1~3차</a></li>
              <li><a href="#">뉴타운맨션 삼호 4차</a></li>
              <li><a href="#">뉴타운맨션 삼호 5차</a></li>
              <li><a href="#">뉴타운맨션 삼호 6차</a></li>
              <li><a href="#">뉴타운맨션 삼호</a></li>
            </ul>
          </li>
          <li><a href="{% url 'category' post.district %}">덕현지구</a></li>
          <li><a href="#">미륭아파트</a></li>
          <li><a href="#">비산초교</a></li>
          <li><a href="#">삼신 6차</a></li>
          <li><a href="#">온천지구</a></li>
          <li><a href="#">온천지구</a></li>
          <li><a href="#">융창지구</a></li>
          <li><a href="#">임곡지구 비산자이아이파크</a></li>
          <li><a href="#">호계구사거리지구</a></li>
        </ul>
      </li>
      <li><a href="#">만안구</a>
        <ul>
          <li><a href="#">냉천지구</a></li>
          <li><a href="#">상록지구</a></li>
          <li><a href="#">안양역세권주변지구</a></li>
          <li><a href="#">안양예술공원 아르테자이</a></li>
          <li><a href="#">화창지구</a></li>
        </ul>
      </li>
      <li><a href="#">내손동</a>
        <ul>
          <li><a href="#">내손다구역</a></li>
          <li><a href="#">내손라구역</a></li>
        </ul>
      </li>
      <li><a href="#">오전동</a>
        <ul>
          <li><a href="#">고천가구역</a></li>
          <li><a href="#">고천나구역</a></li>
          <li><a href="#">오전나구역</a></li>
          <li><a href="#">오전다구역</a></li>
        </ul>
      </li>
      <li><a href="#">매물 추가</a></li>
      <li><a href="#">구역 추가</a></li>
    </ul>
  </nav>
  <div class="title">
    {% block title %}

    {% endblock %}
  </div>
  <div class="content">
    {% block content %}

    {% endblock %}
  </div>
</body>

</html>











